.strength {
    padding-top: 43px;
    max-height: 133px;
    display: flex;
    align-items: center;

    &-item {
        .col(25%);
        display: flex;
        align-items: center;

        .item-icon {
            width: 41px;
            img {
                vertical-align: middle;
            };
        }
        .item-content {
            padding-left: 20px;
            line-height: 24px;
            padding-bottom: 6px;

            .title {
                font-size: 16px;
                font-weight: 500;
                color: #000;
            }
            .detail {
                font-size: 14px;
                font-weight: 400;
                color: @summary-color;
                letter-spacing: -0.01em;
            }
        }

        &:last-child {
            .item-content {
                padding-left: 15px;
            }
        }
    }
}

.banner {
    margin-top: 18px;

    .banner-col {
        margin: -15px 0;
    }

    span {
        color: @main-color;
    }

    .title {
        font-weight: 600;
        font-size: 30px;
        line-height: 30px;
        color: #000;
        text-transform: uppercase;
    }

    .summary {
        font-weight: 500;
        font-size: 17px;
        color: @summary-color;
    }

    &-left {
        .col (58.3333%);
        position: relative;

        .banner-inner {
            cursor: pointer;
            overflow: hidden;
            height: 100%;
            &:hover {
                img {
                    .transformer (scale(1.1));
                }
            }
        }
        img {
            .transit (all, 0.5s);
            display: block;
            width: 100%;
            height: 100%;
        }

        &-detail {
            position: absolute;
            left: 50%;
            bottom: 42px;
            width: 100%;
            .transformer (translate(-50%,0));
            text-align: center;

            .banner-countdown {
                margin-bottom: 27px;
                display: flex;
                justify-content: center;
                line-height: 30px;
                span {
                    font-size: 21px;
                    font-weight: 600;
                    letter-spacing: -1px;
                    width: 100%;
                    margin-bottom: -26px;
                }
                .times {
                    width: 60px;
                    height: 62px;
                    background-color: #fff;
                    margin: 0 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    font-size: 12px;
                    font-weight: 600;
                    text-transform: uppercase;
                }
            }

            .title {
                margin-bottom: -1px;
            }
        }
    }

    &-right {
        .col (41.6667%);

        &-item {
            overflow: hidden;
            position: relative;
            padding: 15px 0;

            &-inner {
                cursor: pointer;
                overflow: hidden;

                //trỏ vào phóng to width+height lên 1.1 lần;
                &:hover {
                    img {
                        .transformer (scale(1.1));
                    }
                }
            }

            img {
                .transit (all, 0.5s);
                display: block;
                width: 100%;
            }
        }

        &-content {
            position: absolute;
            top: 50%;
            left: 30px;
            .transformer (translateY(-50%));

            .sale-number {
                font-size: 60px;
                font-weight: 600;
                line-height: 60px;
            }

            .special {
                font-size: 24px;
                font-weight: 500;
                margin-top: -2px;
            }
        }

        .content-top {
            margin-top: -4px;

            .summary {
                font-size: 17.5px;
             }
        }
        
        .content-bottom {
            margin-top: -3px;

            .summary {
               margin-top: 6px;
               font-size: 17.5px;
            }
        }
    }
}

.top-selling {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;

        .top-selling-header {
            text-transform: uppercase;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-align: left;
            padding-top: 45px;
            padding-bottom: 45px;
            font-weight: 600;
            align-items: center;

            &-left {
                position: relative;

                .top-selling-header-under {
                    position: absolute;
                    top: -37px;
                    color: @bg-item;
                    font-size: 90px;
                    padding-top: 0px;
                    z-index: -1;
                }

                .top-selling-header-over {
                    font-size: 43px;
                    z-index: 0;
                    color: #000;
                }
            }

            &-right {
                display: flex;
                height: 100%;

                .arrows {
                    height: 60%;
                    padding-left: 12px;
                    overflow: hidden;

                    &:hover {
                        .transformer(scale(1.3));
                        .transit(all, 0.2s);
                    }
                }
            }
        }

        .row {
            margin-bottom: 14px;

            .top-selling-item {
                .col(25%);
                margin-bottom: 35px;
                text-align: center;
                font-weight: 600;
                color: #000;
                font-size: 14.5px;
                line-height: 22px;
    
                img {
                    width: 100%;
                    max-height: 265px;
                    &:hover {
                        .transformer(scale(1.1));
                        .transit(all, 0.2s);
                    }
                }
    
                &-content {
                    width: 73%;
                    margin: auto;
                    padding-left: 2px;
                    padding-top: 5px;
                }
    
                &-price {
                    font-size: 13px;
                    line-height: 35px;
                    color: @main-color;

                    span {
                        text-decoration: line-through;
                        color: gray;
                        padding-right: 11px;
                    }
                }
            }
        }
    }
}

.news {
    width: 100%;
    max-height: 663px;
    overflow: hidden;

    &-inner {
        background-image: url('../img/news-background.png');
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        .container {
            position: relative;
            top: 0;

            .news-content {
                width: 100%;
                text-align: center;
                position: relative;
                margin-bottom: 42px;
                margin-top: 96px;

                &-under {
                    line-height: 60px;
                    font-size: 90px;
                    letter-spacing: 1px;
                    font-weight: 600;
                    text-transform: uppercase;
                    opacity: 0.5;
                    color: @title-bg-color;
                }

                &-over {
                    position: absolute;
                    top: 4%;
                    left: 37.5%;
                    font-weight: 500;
                    font-size: 43px;
                    word-spacing: 3px;
                    color: #000;
                    text-transform: uppercase;
                }
            }

            .row {
                margin-bottom: 100px;

                .news-item {
                    .col(33.3334%);
                    margin-top: 25px;
                    font-size: 16px;

                    img {
                        width: 100%;
                        overflow: hidden;
                        max-height: 241px;

                        &:hover {
                            .transformer(scale(1.1));
                            .transit(all, 0.2s);
                        }
                    }

                    &-content {
                        font-weight: 600;
                        line-height: 25px;
                        margin-top: 17px;
                        word-spacing: 2.5px;
                    }

                    &-time {
                        color: gray;
                        font-size: 12.5px;
                        letter-spacing: 0.1px;
                        margin-top: 11px;

                        span {
                            color: @main-color;
                        }
                    }
                }
            }
        }
    }
}

.newsletter {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    background-color: #000;
    align-items: center;
    text-align: center;

    .container {
        .newsletter-inner {
            height: 100%;
            padding: 100px 0;
            display: flex;
            flex-direction: column;
    
            .newsletter-text {
                display: flex;
                flex-direction: column;
                margin-bottom: 55px;
    
                &-first {
                    font-size: 32px;
                    letter-spacing: -0.4px;
                    line-height: 26px;
                    color: @text-white-color;
                    font-weight: 600;
                    margin-top: 2px;
                    margin-bottom: 17px;
                }
    
                &-second {
                    font-size: 14px;
                    line-height: 30px;
                    color: @mini-title-color;
                    font-weight: 500;
                }
            }
    
            .newsletter-email {
                .newsletter-form {
                    position: relative;
                    max-width: 774px;
                    margin: auto;
    
                    input {
                        box-sizing: border-box;
                        width: 100%;
                        line-height: 70px;
                        border-radius: 79px;
                        padding-left: 31px;
                        word-spacing: 2px;
                        font-size: 14px;
                        font-weight: 400;
                        color: @summary-color;
                    }
    
                    button {
                        position: absolute;
                        padding: 16px 52px;
                        line-height: 30px;
                        font-size: 16px;
                        font-weight: 500;
                        color: @text-white-color;
                        background-color: @main-color;
                        border-radius: 30px;
                        right: 1%;
                        top: 9%;
                        border: none;
                        text-transform: uppercase;
                        // max-width: 165px;
                    } 
                }
            }
        }
    }
}

.branding {
    width: 100%;
    max-height: 195px;
    overflow: hidden;
    align-items: center;
    padding: 40px 0;

    &-item {
        .col(20%);

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.footer {
    .footer-upper {
        background-color: @bg-footer;
        max-height: 318px;
    
        .container {
            .row {
                justify-content: space-between;
    
                .footer-item {
                    box-sizing: border-box;
                    margin: 0 !important;
                    max-height: 318px;
                    padding: 50px 15px !important;
                    display: flex;
                    flex-direction: column;
    
                    .footer-header {
                        text-transform: uppercase;
                        margin-bottom: 17px;
                        font-size: 18px;
                        font-weight: 600;
                        color: #000;
                    }
    
                    .footer-list {

                        &-item {
                            font-size: 13px;
                            font-weight: 500;
                            line-height: 22px;
                            width: 100%;
                            display: flex;
                            margin-bottom: 7px;

                            a {
                                color: @summary-color !important;
                            }

                            &-icon {
                                width: 37px;
                            }

                            &-content {
                                max-width: 250px;
                                word-spacing: 2px;
                            }

                            a:hover {
                                color: @main-color !important;
                            }
                        }

                        .social-media {
                            line-height: 76px;

                            .footer-list-item-icon {
                                width: 34px;
                            }
                        }
                    }
                }
    
                .contact-us {
                    .col(33.3334%);
                }
    
                .company, .categories {
                    .col(25%);

                    .footer-list {
                        &-item {
                            margin-bottom: 14px;
                        }
                    }
                }
    
                .quick-links {
                    .col(16.6667%);

                    .footer-list {
                        &-item {
                            margin-bottom: 13px;
                        }
                    }
                }
            }
        }
    }

    .footer-under {
        max-height: 68px;

        .container {
            .row {
                justify-content: space-between;
                align-items: center;

                .designer {
                    .col(50%);
                    font-size: 12px;
                    font-weight: 500;
                    color: @summary-color;
                    padding: 0 18px;


                    span {
                        color: @main-color;
                    }
                }

                .payments {
                    .col(33.3334%);
                    display: flex;
                    justify-content: space-between;

                    img {
                        height: 100%;
                        width: 30px;
                    }
                }
            }
        }
    }
}
